<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <header class="d-flex justify-content-between align-items-center">
            <h6 class="fs-16">Applicant’s Information</h6>
            <div>
              <button class="btn btn-pry">Invite Applicant</button>
            </div>
        </header>
        <main class="d-flex">
          <div class="mr-3">
            <div class="mb-3"><img class=" rounded-circle" src="/assets/template-files/images/faces/face2.jpg" alt="img"></div>
            <div>
              <button class="btn btn-link">View Resume</button>
            </div>
          </div>
          <div>
            <h5 class="fs-16 mb-4">Ronke Bosola</h5>
            <div class="mb-4">
              <h4 class="fs-13 m-0">Product Designer</h4>
              <h6 class="fs-12 text-mute">Figma, Photoshop, Illustrator, Adobe XD</h6>
            </div>
            <div>
              <h4 class="fs-13 m-0">Expected Income: ₦750,000.00</h4>
              <h6 class="fs-12 text-mute">Notice Period: One Month</h6>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <header><h6 class="fs-16 mb-3">Personal Data</h6></header>
        <main>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b>Phone:</b></h6>
            <h6>08012345678</h6>
          </div>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b> Email:</b></h6>
            <h6>ronkebosola@example.com</h6>
          </div>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b> Birthday:</b></h6>
            <h6>24th, June 1990</h6>
          </div>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b> Address:</b></h6>
            <h6>16, Sunday Monday Ave, Ikeja Lagos, Nigeria.</h6>
          </div>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b> Gender:</b></h6>
            <h6>Female</h6>
          </div>
          <div class="d-flex">
            <h6 class="fs-12 mr-4"><b> Location:</b></h6>
            <h6>Gbagada Lagos, NGA</h6>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <header><h6 class="fs-16 mb-3">Personal Data</h6></header>
        <main>
          <p class="fs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est adipiscing luctus adipiscing faucibus orci mauris. Tellus ac odio ultricies viverra massa, eget cras. Leo odio facilisi iaculis lacinia platea. Viverra odio tellus ut tortor, enim nulla pharetra arcu. Sed lectus justo, iaculis et ultricies neque amet gravida ligula. Nunc, nullam proin diam risus faucibus nisl, odio lectus vivamus. Tempus tristique facilisi et amet vestibulum phasellus. Maecenas ut scelerisque sem commodo lobortis neque sagittis. Amet commodo arcu sit blandit neque. Blandit etiam facilisis sit magna morbi quis arcu senectus fermentum. Eget sed lectus in orci vitae id feugiat. Sagittis urna velit dictum varius pellentesque fringilla. Id scelerisque nisl senectus velit at commodo ipsum morbi laoreet.</p>
        </main>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <header><h6 class="fs-16 mb-3">Education Information</h6></header>
          <main>
            <div class="mb-3">
              <h6 class="fs-12 m-0"><b>International College of Design and Coding - Undergraduate</b></h6>
              <h6 class="fs-12 m-0">Bsc Computer Science</h6>
              <h6 class="fs-12 text-mute m-0">2000 - 2003</h6>
            </div>
            <div>
              <h6 class="fs-12 m-0"><b>International College of Design and Coding - Post Graduate</b></h6>
              <h6 class="fs-12 m-0">Msc Computer Science</h6>
              <h6 class="fs-12 text-mute m-0">2000 - 2005</h6>
            </div>
          </main>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <header><h6 class="fs-16 mb-3">Previous Work Experience</h6></header>
          <main>
            <div class="mb-2">
              <h6 class="fs-12 m-0"><b>Frontend Developer at Google</b></h6>
              <h6 class="fs-12 m-0">2019 - Present</h6>
            </div>
            <div class="mb-2">
              <h6 class="fs-12 m-0"><b>Frontend Developer at IBM Corporation</b></h6>
              <h6 class="fs-12 m-0">2015 - 2019</h6>
            </div>
            <div>
              <h6 class="fs-12 m-0"><b>Frontend Developer at Automattic</b></h6>
              <h6 class="fs-12 m-0">2015 - 2019</h6>
            </div>
          </main>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <header><h6 class="fs-16 mb-3">Links and Documents</h6></header>
        <main>
          <div class="d-flex mb-2">
            <div class="mr-3">
              <i class="fab fa-linkedin"></i>
            </div>
            <div>
             <a class="fs-12 text-link" href="">https://linkedin.com/in/bosola-ronke</a>
            </div>
          </div>
          <div class="d-flex mb-2">
            <div class="mr-3">
              <i class="fab fa-github"></i>
            </div>
            <div>
             <a class="fs-12 text-link" href="">https://github.com/bosola-ronke</a>
            </div>
          </div>
          <div class="d-flex mb-2">
            <div class="mr-3">
              <i class="fab fa-behance"></i>
            </div>
            <div>
             <a class="fs-12 text-link" href="">https://behance.net/bosola-ronke</a>
            </div>
          </div>
          <div class="d-flex">
            <div class="mr-3">
              <i class="fa fa-globe"></i>
            </div>
            <div>
             <a class="fs-12 text-link" href="">https://bosolaronke.com</a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <header><h6 class="fs-16 mb-3">Other Information</h6></header>
        <main>
          <div class="mb-2">
            <h6 class="fs-12 m-0"><b>Years of Experience:</b></h6>
            <h6 class="fs-12 m-0">7 years</h6>
          </div>
          <div class="mb-2">
            <h6 class="fs-12 m-0"><b>Skills:</b></h6>
            <h6 class="fs-12 m-0">Skills: Basketball, Cooking, Driving, Swimming, Researching</h6>
          </div>
          <div class="mb-2">
            <h6 class="fs-12 m-0"><b>Additional Information:</b></h6>
            <h6 class="fs-12 m-0">
              I will prefer if my interviewed is conducted online in order to ease me the sittress of travelling to your office because I really do not enjoy being caught up in traffic.
              And also let it be in the afternoon so that I my daily routine would have been done and I can be fully focused and ready for the interview.</h6>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
